<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user %></h1>

		<p>Muy bien!!!</p>
		<p>Tu registro ha sido exitoso, tu cuenta de email ha sido verificada. A partir de ahora recibirás semanalmente cada una de las lecciones del Curso.</p>

		<p>Bienvenid@ a la PRIMERA lección de este Curso online de Introducción al Auto-Conocimiento, titulada "EL CONOCIMIENTO GNÓSTICO"</p>

		<p>Puedes acceder a la Video-Lección a travÈs de este link </p>

		<p>TambiÈn te recomendamos descargar el resumen en PDF desde este enlace </p>

		<p>Recuerda que cualquier ante cualquier duda o consulta puedes escribirnos a contacto@ageacac.org.ar</p>

		<p>Esperamos que la disfrutes</p>

		<p>Cordialmente</p>
		<p>Equipo de difusiÛn de AGEACAC</p>

  </body>
</html>