<!-- /.preloader -->
<div id="preloader"></div>
<div id="top"></div>

<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url('<%= asset_path('bg.jpg') %>');" data-img-width="2000" data-img-height="1333" data-diff="100">

	<div class="overlay">
		<div class="container">
			<div class="row">

				<div class="col-md-7">

					<!-- /.logo -->
					<div class="logo wow fadeInDown"> <a href=""><img src="<%= asset_path('logo.png') %>"></a></div>

					<!-- /.main title -->
						<h1 class="wow fadeInLeft">
						Curso de </br>Auto-Conocimiento
						</h1>

					<!-- /.header paragraph -->
					<div class="landing-text wow fadeInUp">
						<p>S&oacute;lo el conocimiento que llega desde dentro es el verdadero conocimiento</br><i>S&oacute;crates</i></p>
					</div>

				</div> 

				<!-- /.signup form -->
				<div class="col-md-5 signup-form">

					<div class="signup-header wow fadeInUp">
						<h3 class="form-title text-center">COMENZ&Aacute;</h3>
						<%= form_for(Usuario.new, as: :usuario, url: registration_path(:usuario)) do |f| %>
						<input type="hidden" name="id" value="bfdba52708">
							<div class="form-group">
								<input class="form-control input-lg" name="usuario[name]" id="name" type="text" placeholder="Tu Nombre" required>
							</div>
							<div class="form-group">
								<input class="form-control input-lg" name="usuario[email]" id="email" type="email" placeholder="Email" required>
							</div>
							<div class="form-group">
								<input class="form-control input-lg" name="usuario[password]" id="password" type="password" placeholder="Contraseña" required>
							</div>
							<div class="form-group last">
								<input type="submit" class="btn btn-warning btn-block btn-lg" value="INSCRIBIRME">
							</div>
							<div class="form-group last">
								<%= button_to "INGRESAR (YA ESTOY INSCRIPTO)", ingresar_path,
								      :class => "btn btn-warning btn-block btn-lg ingresar-redirect", :method => :get %>
							</div>
						<% end %>	
							<p class="privacy text-center">No compartiremos tu email. Lee nuestra <a href="privacy.html">política de privacidad</a>.</p>
						<!-- /.social links -->
						<div class="social text-center">
							<ul>
								<li class="txt-compartir">Compart&iacute;: </li>
								<li><a class="wow fadeInUp" href="https://www.facebook.com/gnosisarg" target="_blank" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
								<li><a class="wow fadeInUp" href="https://plus.google.com/117234121267141004161" target="_blank" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div> 
	</div> 
</div>





