
<link rel="stylesheet" href="estilos.css"> </link>

<div class="container">
	<div class="row" id="pwd-container">
	  <div class="col-md-3"></div>
	  	<div class="col-md-6 forgot-password-container">
	  		<section>
					<h2 class="subtitle">Olvidaste tu contraseña?</h2>

					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= devise_error_messages! %>

					  <input name="usuario[email]" placeholder="Email" required class="form-control input-lg" />

					  <div class="actions">
					    <%= f.submit "Mandame instrucciones para cambiar la contraseña " %>
					  </div>
					<% end %>
				</section>
			</div>
	  </div>
	</div>
	
</div>


