
<%= stylesheet_link_tag 'formularios/estilos' %>

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <%= form_for(Usuario, as: :usuario, url: session_path(:usuario)) do |f| %>
          <img src="<%= asset_path('logo2.png') %>" class="img-responsive" alt="" />
          <input name="usuario[email]" placeholder="Email" required class="form-control input-lg" />

          <input name="usuario[password]" class="form-control input-lg" id="password" placeholder="Constraseña" required="" />
        
          <%= f.check_box :remember_me %>



          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
        <div>
          <a class="go-homepage">Registrarse</a> o <a href="/cambiar-contrasena">Cambiar Contraseña</a>
        </div>

        <% end %>

        <div class="form-links">
          <a href="https://gnosisargentina.org.ar">gnosisargentina.org.ar</a>
        </div>
      </section>
    </div>
  </div>
</div>

