<p>Hola <%= @resource.email %>!</p>

<p>Alguien a pedido un cambio de contraseña, puedes hacerlo a traves del siguiente enlace: </p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vos no pediste este cambio, por favor ignora este mensaje.</p>

